.vscode/

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# Testing
/coverage

# Next.js build files
/.next/
/out/

# Production
/build

# Misc
.DS_Store
*.pem

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Local Netlify environment variables
.netlify/environment

# VS Code
.vscode/

# dotenv environment variables file
.env
.env.development.local
.env.test.local
.env.production.local
.env.local
resort-new/backend/instance/bootstrap_admin_credentials.txt
resort-new/.env.local

# Turborepo
.turbo

# TypeScript cache
*.tsbuildinfo

# Bun Lockfile
bun.lockb

# Prisma
/src/generated/prisma-client
/prisma/generated/prisma-client
prisma/dev.db-journal*
prisma/migrations/*.sql

# Github
/.github

# python
venv/
resort-new/backend/app/__pycache__/
resort-new/backend/app/routers/__pycache__/
resort-new/backend/app/utils/__pycache__/
resort-new/backend/tests/__pycache__/
resort-new/backend/*.db*

# Old website
/resort-old